@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* primary colors */
  --primary-red: #F25353;
  --primary-black: #1F1F1F;
  --primary-lightest-blue: #C4CCCF;
  --primary-light-blue: #b6c0c3;
  --primary-white: #ffffff;

  /* borders */
  --light-blue_border: 1.5px solid var(--primary-lightest-blue);

  /* font sizes */
  --p-font-size: 16px;
  --p-line-height: 150%;
  --h1-line-height: 100%;
  --h5-line-height: 125%;
}

body {
  color: var(--primary-black);
  font-family: 'Inter';
  overflow-y: overlay;
}

h1 {
  font-weight: 500;
  font-size: 22px;
  line-height: var(--h1-line-height);
}

h4 {
  font-weight: 400;
  font-size: 24px;
}

h5 {
  font-weight: 500;
  font-size: 20px;
  line-height: var(--h5-line-height);
}

p, label {
  font-weight: 300;
  font-size: var(--p-font-size);
  line-height: var(--p-line-height);
}

hr {
  margin: 0;
}

a {
  text-decoration: underline;
  cursor: pointer;
  font-size: 14px;
}

.bttn {
  display: flex;
  justify-content: space-around;
  width: 250px;
  border-radius: 50px;
  margin: auto 0;
  padding: 12px 20px;
  cursor: pointer;
}

.bttn_auto-width {
  width: auto;
}

.bttn_outline {
  border: 1.5px solid var(--primary-lightest-blue);
}

.bttn_outline span {
  font-size: 14px;
}

.bttn_center {
  margin: auto;
}

.bttn_red {
  background-color: var(--primary-red);
  color: var(--primary-white);
}

.red-button > span {
  font-size: 14px;
  font-weight: 300;
}

input[type='radio'] {
  accent-color: var(--primary-red);
  transform: scale(1.5);
  margin-right: 20px;
}

.flex_row {
  display: flex;
  justify-content: space-between;
}

/* tablet  devices */
@media (max-width: 768px) {
  h4 {
    font-size: 18px;
  }
}

/* mobile devices */
@media (max-width: 480px) {
  h4 {
    font-size: 12px;
  }
}
