.cardWrapper {
  margin: 40px 0;
}

.cardWrapper .nameRow {
  padding-bottom: 20px;
  flex-basis: 50%;
}

.input {
  margin: 0.4rem 0;
  padding: 5px 10px;
  border-radius: 8px;
  border: 1.5px solid #C4CCCF !important;
  width: 100%;
}

.infoSection {
  display: flex;
  align-items: center;
  padding: 25px 0;
}

.logoWrapper {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 20px;
}

.infoWrapper p {
  font-weight: 400;
}

.infoWrapper {
  flex-basis: 88%;
}

.infoWrapper a {
  font-weight: 500;
}

.errorMsg {
  display: flex;
  align-items: center;
}

.errorMsg svg {
  width: 20px;
  margin-right: 5px;
}

.errorInput {
  border: 1.5px solid var(--primary-red) !important;
}

.errorInput::placeholder {
  color: var(--primary-red) ;
  font-weight: 300;
}


@media (max-width: 1000px) {
  .cardWrapper .nameRow {
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 750px) {
  .cardWrapper {
    margin-top: 25px;
    padding: 0 20px;
    margin-bottom: 20px;
  }

  .input {
    padding: 8px 0;
    border-radius: 0;
    border: none !important;
    border-bottom: 1.5px solid #C4CCCF !important;
    width: 100%;
  }

}
