.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.modalContainer {
  background-color: white;
  width: 70%;
  border-radius: 15px;
  border: var(--black-border);
  margin: auto;
  max-width: 650px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

/* top section */
.closeIcon {
  position: absolute;
  right: var(--product-modal-padding);
  padding-top: calc((var(--h3-font-size) / 2) + var(--product-modal-padding));
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.closeIcon span {
  font-size: 24px;
  line-height: 1;
  color: black;
}

.closeIcon, .icon {
  height: 15px;
  width: 15px;
}

.headerSection {
  position: relative;
  padding: 10px;
}

.title {
  padding-bottom: 20px;
}

.itemName {
  padding: 30px 30px 25px;
}

.itemName h2 {
  margin-bottom: 10px;
}

.topDivider {
  position: relative;
  width: 100%;
}

/* middle section */
.scrollableContent {
  padding: 0 var(--product-modal-padding);
}

.optionSection {
  max-height: 400px;
  overflow-y: scroll;
  margin-right: 3px;
}

.optionWrapper {
  padding: 20px 30px;
}

hr.sectionDivider {
  margin: 0 10px 0 20px;
}

/* scrollBar Positioning */
.optionSection::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.optionSection::-webkit-scrollbar-track {
  margin: 5px 0;
  border-radius: 10px;
}

/* Handle */
.optionSection::-webkit-scrollbar-thumb {
  background: var(--primary-light-blue);
  border-radius: 10px;
}

/* bottom section */
.addToOrderSection {
  z-index: 100;
  background-color: white;
  padding: 30px 30px;
  display: flex;
  justify-content: space-between;
}

.quantity {
  border: var(--light-blue-border);
  display: flex;
  justify-content: space-between;
  width: 80px;
  border-radius: 50px;
  margin: auto 0;
  padding: 10px 15px;
  font-weight: 700;
}

@media (max-width: 750px) {
  .modalContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100vw !important;
    height: 100vh !important;
    min-height: 100vh !important;
    min-width: 100vw !important;
    border-radius: 0;
    border: none;
    margin: 0;
    padding: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: hidden;
  }

  .itemName {
    padding: 0;
  }

  /* top and bottom section */
  .headerSection, .addToOrderSection {
    padding: 20px;
    flex-shrink: 0;
  }

  .addToOrderSection {
    background-color: white;
    width: 100vw;
    border-top: 1.5px solid var(--primary-lightest-blue);
  }

  .scrollableContent {
    padding: 0;
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    align-items: stretch;
    display: flex;
  }

  .optionSection {
    max-height: none;
    width: 100vw;
    flex-grow: 1;
    margin: 0;
  }
}
