.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: var(--menu-page-padding);
  height: 100vh;
  width: 100vw;
  gap: 20px;
}

.illustration {
  width: 35%;
  height: 15%;
  position: relative;
}

.trayImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.mainText {
  font-weight: 400;
}

.descriptionText {
  padding-top: 10px;
}

.descriptionText .detailsText {
  font-size: 18px;
}

.returnBttn {
  margin: 20px 0 !important;
}

/* tablet */
@media (max-width: 750px) {
  .container {
    padding: var(--menu-page-mobile-padding);
  }

  .mainText {
    font-size: 32px;
  }
}

/* mobile devices */
@media (max-width: 480px) {
  .mainText {
    font-size: 20px;
  }

  .descriptionText {
    padding-top: 15px;
  }
}
