/* top section - start */
.pickupDetailSection h5 {
  margin-bottom: 10px;
}

.logoContainer {
  display: flex;
  padding-bottom: 20px;
}

.logoContainer p {
  font-weight: 400;
  font-size: 14px;
}

.logo {
  width: 14px;
  height: 20px;
  position: relative;
  margin-right: 5px;
}
/* top section - end */

/* middle section - start */
.addedItemSection {
  padding: 0 40px;
  overflow: scroll;
}
/* middle section - end */

/* tip - start */
.tipSection {
  padding: 30px 40px;
}

.tipCardWrapper {
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tipCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-width: 50px; /* Minimum width of 50px for each card */
  padding: 10px;
  border: var(--light-blue-border);
  border-radius: 15px;
  cursor: pointer;
}

.selectedTipCard {
  background-color: var(--primary-red);
  border: var(--black-border);
}

.selectedTipCard p {
  font-weight: 300;
  color: var(--primary-white);
}


/* bottom section - end */
@media (max-width: 1000px) {
  .tipCard {
    flex-basis: 40%;
  }

  .itemQuantity {
    flex-basis: 10%;
  }

  .itemName {
    flex-basis: 80%;
  }

  .itemPrice {
    flex-basis: 10%;
  }

  .addOnsList {
    margin-left: 10%;
  }

  /* padding */
  .addedItemSection {
    padding: 0 20px;
  }

  .tipSection {
    padding: 25px 20px;
  }

  .priceSection {
    padding: 25px 20px;
  }

}
@media (max-width: 750px) {
  .tipSection {
    padding: 50px 0;
  }

  .tipSection h5 {
    font-size: var(--mobile-header-font-size);
    padding-bottom: 10px;
  }

  .tipCardWrapper {
    padding-top: 30px;
    gap: 20px;
  }
}

@media (max-width: 480px) {
  .tipSection {
    padding: 50px 0;
  }

  .tipSection h5 {
    font-size: var(--small-mobile-header-font-size);
    padding-bottom: 10px;
  }

  .tipCardWrapper {
    padding-top: 30px;
    gap: 20px;
  }
}

@media (max-width: 110px) {
  .flex_row {
    flex-wrap: nowrap;
  }
}
/* tip - end */

/* bottom section - start */
.priceSection {
  padding: 25px 40px;
}

.priceWrapper {
  padding-bottom: 20px;
}

.priceRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
