.container {
  padding: 30px 0;
}

.singleItemHeader {
  display: flex;
  justify-content: space-between;
}

.itemQuantity {
  flex-basis: 15%;
}

.itemName {
  flex-basis: 70%;
}

.itemPrice {
  flex-basis: 15%;
}

.singleItemHeader span {
  font-size: 16px;
  line-height: 100%;
  font-weight: 500;
}

.addOnsList {
  margin: 8px 0 10px;
}

.addOnsList li {
  height: calc(5px + var(--modal-addon-text));
}

.addOnsList span {
  font-weight: 300;
  font-size: var(--modal-addon-text);
}

.editRemoveOptions {
  display: flex;
}

.editRemoveOptions a {
  margin-left: 10%;
  font-size: 12px;
  font-weight: 300;
  text-decoration: underline;
}

@media (max-width: 1000px) {
  .itemQuantity {
    flex-basis: 10%;
  }

  .itemName {
    flex-basis: 80%;
  }

  .itemPrice {
    flex-basis: 10%;
  }

  .addOnsList {
    margin-left: 10%;
  }
}
