.container {
  position: fixed;
  top: 50%;
  right: var(--menu-page-padding);
  transform: translateY(-40%);
  max-height: calc(100% - 100px);
  border-radius: 20px;
  border: 1.5px solid var(--primary-lightest-blue);
  width: var(--modal-width);
  background-color: var(--primary-white);
  overflow-y: hidden;
}

/* top section - start */
.pickupDetailSection, .subtotalSection {
  padding: 25px 20px;
}

.pickupDetailSection h5 {
  margin-bottom: 10px;
}

.logoContainer {
  display: flex;
  padding-bottom: 20px;
}

.logoContainer p {
  font-weight: 400;
  font-size: 14px;
}

.logo {
  width: 14px;
  height: 20px;
  position: relative;
  margin-right: 5px;
}
.closeIcon, .icon {
  display: none;
}
/* top section - end */

/* middle section - start */
.addedItemSection {
  padding: 0 20px;
  overflow: scroll;
  max-height: var(--modal-items-height);
}
/* middle section - end */

.subtotalInfo {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
/* bottom section - end */


@media (max-width: 1000px) {
  .container {
    right: var(--menu-page-mobile-padding);
  }
  .itemQuantity {
    flex-basis: 10%;
  }
  .itemName {
    flex-basis: 80%;
  }
  .itemPrice {
    flex-basis: 10%;
  }
  .addOnsList {
    margin-left: 10%;
  }
}

@media (max-width: 750px) {
  .container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    top: 0;
    left: 0;
    border-radius: 0;
    border: none;
    transform: none;
  }

  .pickupDetailSection, .subtotalSection {
    padding: 5%;
  }

  .cartItemSection {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center items */
    align-items: center;
    height: 46%;
    border-bottom: 1.5px solid var(--primary-lightest-blue);
  }

  .checkoutButton {
    width: calc(100% - 60px);
    position: absolute;
    bottom: 8%;
  }

  .closeIcon, .icon {
    display: block;
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
    height: 15px !important;
    width: 15px;
  }
}


