.container {
  position: fixed;
  top: 50%;
  right: var(--menu-page-padding);
  transform: translateY(-40%);
  max-height: calc(100% - 100px);
  border-radius: 20px;
  border: 1.5px solid var(--primary-lightest-blue);
  width: var(--modal-width);
  background-color: var(--primary-white);
  overflow-y: hidden;
}

/* top section - start */
.pickupDetailSection {
  padding: 25px 20px;
}

.pickupDetailSection h5 {
  margin-bottom: 10px;
}

.logoContainer {
  display: flex;
  padding-bottom: 20px;
}

.logoContainer p {
  font-weight: 400;
  font-size: 14px;
}

.logo {
  width: 14px;
  height: 20px;
  position: relative;
  margin-right: 5px;
}
/* top section - end */

/* middle section - start */
.addedItemSection {
  padding: 0 20px;
  overflow: scroll;
  max-height: var(--modal-items-height);
}
/* middle section - end */

/* bottom section - start */
.subtotalSection{
  padding: 25px 20px;
}

.subtotalInfo {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
/* bottom section - end */

@media (max-width: 1000px) {
  .container {
    /* flex-basis: 30%; */
  }

  .itemQuantity {
    flex-basis: 10%;
  }

  .itemName {
    flex-basis: 80%;
  }

  .itemPrice {
    flex-basis: 10%;
  }

  .addOnsList {
    margin-left: 10%;
  }
}
