.container {
  display: flex;
  justify-content: space-between;
  padding: 50px 50px 0;
}

.leftSection > * {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bttnWrapper, .orderHeader {
  margin-bottom: 0;
  height: 80px;
}

.leftSection {
  flex-basis: 60%;
}

.rightSection {
  flex-basis: 35%;
}

@media (max-width: 1000px) {
  .container {
    padding: 50px 30px 0;
  }

  .leftSection {
    flex-basis: 55%;
  }

  .rightSection {
    flex-basis: 40%;
  }
}

/* Small (SM) / Mobile Landscape */
@media (max-width: 750px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 40px 0;
  }

  .leftSection {
    flex-basis: 100%;
  }

  .leftSection > .checkout-card-container {
    margin: 0 !important;
  }

  .rightSection {
    flex-basis: 100%;
  }
}

/* Extra Small (XS) / Mobile Portrait */
@media (max-width: 480px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 20px 0;
  }

  .leftSection {
    flex-basis: 100%;
  }

  .leftSection > .checkout-card-container {
    margin: 0 !important;
  }

  .rightSection {
    flex-basis: 100%;
  }
}
