.card_wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.input{
  margin: 0.4rem 0;
  border-radius: 5px;
  border: 1.5px solid #C4CCCF !important;
  width: 100%;
}

.infoSection {
  display: flex;
  align-items: center;
  padding: 25px 0;
}

.logoWrapper {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 20px;
}

.infoWrapper p {
  font-weight: 400;
}

.infoWrapper {
  flex-basis: 88%;
}

.infoWrapper a {
  font-weight: 500;
}
