.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid black;
}

.modal {
  background-color: white;
  border-radius: var(--modal-border-radius);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 80%;
  z-index: 1000;
  position: relative;
}

.closeIcon, .icon {
  height: 15px;
  width: 15px;
}

.modalHeaderContainer {
  padding: 20px;
}

.contentWrapper {
  text-align: center;
}

.contentContainer {
  padding: 50px;
}

.closeIcon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 30px;
  line-height: 20px;
}

.textWrapper h5 {
  margin: 10px 0;
}

.selectContainer {
  width: 100%;
  display: inline-block;
  overflow: hidden;
}

.selectWrapper {
  border: var(--light-blue-border);
  border-radius: var(--modal-border-radius);
  padding: 0 10px 0 0;
}

.selectBox {
  border-radius: var(--modal-border-radius);
  width: 100%;
  height: 100%;
  padding: 15px;
  outline: none;
}

.selectContainer .selectWrapper:not(:last-child) {
  margin-bottom: 15px;
}

.buttonWrapper {
  padding-top: 20px;
}

.buttonWrapper button {
  margin-top: 10px;
  width: 100%;
}

