.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-overflow: ellipsis;
  overflow: hidden;
}

p.itemDesc {
  color: var(--primary-grey);
}

p.itemPrice {
  color: var(--primary-grey);
  font-weight: 600;
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
  }
}
