.container {
  display: flex;
  flex-direction: column;
  padding-left: var(--menu-page-padding);
  max-width: calc(100% - (var(--modal-width) + var(--menu-page-padding)));
  z-index: 100;
}

/* individual item option component */
.menuItemWrapper {
  min-width: 300px;
  width: 46%;
  height: 180px;
  border-radius: 15px;
  border: 1.5px solid var(--primary-lightest-blue);
  padding: 15px 25px;
  margin: 10px 20px 10px 0;
  display: flex;
  cursor: pointer;
  transition: background-color 0.5s, border-color 0.5s;
}

.menuItemWrapper:hover {
  background-color: #f8f8f8;
  border: 1.5px solid var(--primary-light-blue);
}
.categoryText {
  padding: 20px 0;
}

h3.category {
  padding-bottom: 20px;
}

.subcategory {
  font-size: 16px;
  font-weight: 500;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}


@media (max-width: 1100px) {
  .container {
    /* flex-basis: 70%; */
    padding-left: var(--menu-page-padding);
  }
  .menuItemWrapper  {
    width: 100%;
  }
}

