.container {
  display: flex;
  flex-direction: column;
  padding-left: var(--menu-page-padding);
  max-width: calc(100% - (var(--modal-width) + var(--menu-page-padding)));
  z-index: 100;
}

/* individual item option component */
.menuItemWrapper {
  min-width: 300px;
  width: 46%;
  height: 180px;
  border-radius: 15px;
  border: 1.5px solid var(--primary-lightest-blue);
  padding: 15px 25px;
  margin: 10px 20px 10px 0;
  display: flex;
  cursor: pointer;
  transition: background-color 0.5s, border-color 0.5s;
}

.menuItemWrapper:hover {
  background-color: #f8f8f8;
  border: 1.5px solid var(--primary-light-blue);
}
.categoryText {
  padding: 20px 0;
}

h3.category {
  padding-bottom: 20px;
}

.subcategory {
  font-size: 16px;
  font-weight: 500;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.viewOrderButton {
  position: fixed;
  width: calc(100% - (var(--menu-page-padding)*2));
  left: var(--menu-page-padding);
  bottom: 8%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1100px) {
  .container {
    padding-left: var(--menu-page-padding);
  }
  .menuItemWrapper  {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .container {
    padding-left: var(--menu-page-mobile-padding);
    max-width: calc(100% - (var(--modal-width) + var(--menu-page-mobile-padding)));
    z-index: 100;
  }
  .viewOrderButton {
    width: calc(100% - (var(--menu-page-mobile-padding)*2));
    left: var(--menu-page-mobile-padding);
  }
}

@media (max-width: 750px) {
  .container {
    display: flex;
    flex-direction: column;
    padding-left: var(--menu-page-padding);
    padding-right: var(--menu-page-padding);
    max-width: 100%;
    z-index: 100;
  }
  .menuItemWrapper {
    margin-right: 0;
  }
  .viewOrderButton {
    width: calc(100% - (var(--menu-page-padding)*2));
    left: var(--menu-page-padding);
  }
}

@media (min-width: 751px) {
  .viewOrderButton {
    display: none;
  }
}
