.logoWrapper {
  position: relative;
  text-align: center;
  height: 20px;
  top: 20px;
  font-size: 30px;
  line-height: 20px;
  cursor: pointer;
  margin: 0 auto;
}

.linksContainer {
  padding: 60px 65px 20px 50px;
  height: 50px;
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: space-between;
  width: 700px;
}

.link {
  text-decoration: none;
}

.item {
  font-size: 15px;
  font-weight: 500;
}

.underline {
  border-top: 1.8px solid #C4CCCF;
}

@media (max-width: 768px) {
  .container {
    display: none;
  }
}
