.container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.mainText {
  font-size: 46px;
}

.descriptionText {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
}

.logoWeb {
  width: 35px;
  height: 35px;
  position: relative;
  margin-right: 15px;
}

.logoMobile {
  display: none;
}

/* tablet */
@media (max-width: 768px) {
  .mainText {
    font-size: 32px;
  }

  .logoWeb {
    width: 28px;
    height: 28px;
    margin-right: 10px;
  }
}

/* mobile devices */
@media (max-width: 480px) {
  .mainText {
    font-size: 20px;
  }

  .logoMobile {
    display: block;
    width: 50px;
    height: 50px;
    margin: auto;
    position: relative;
    margin-bottom: 20px;;
  }

  .logoWeb {
    display: none;
  }

  .descriptionText {
    padding-top: 15px;
  }
}
