.container {
  padding: 0;
  border: var(--light-blue_border);
  border-radius: 15px;
}

.pickupHeaderSection {
  padding: 25px 40px;
}

.pickupSection {
  padding: 0 40px;
}

.infoSection {
  display: flex;
  align-items: center;
  padding: 25px 0;
}

.logoWrapper {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 20px;
}

.infoWrapper p {
  font-weight: 400;
}

.infoWrapper {
  flex-basis: 88%;
}

.infoWrapper a {
  font-weight: 500;
}
