.infoSection {
  display: flex;
  align-items: center;
  padding: 25px 0;
}

.logoWrapper {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 20px;
}

.infoWrapper p {
  font-weight: 400;
}

.infoWrapper h5 {
  padding-bottom: 10px;;
}

.infoWrapper {
  flex-basis: 88%;
}

.infoWrapper a {
  font-weight: 500;
}

@media (max-width: 750px) {
  .infoSection:first-child  {
    padding-bottom: 0;
  }
}
