.infoSection {
  display: flex;
  align-items: center;
  padding: 25px 0;
}

.logoWrapper {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 20px;
}

.infoWrapper p {
  font-weight: 400;
}

.infoWrapper {
  flex-basis: 88%;
}

.infoWrapper a {
  font-weight: 500;
}
