.container {
  width: 70%;
  border-radius: 15px;
  border: 2px solid black;
  margin: auto;
  padding: 15px 0;
}

.itemName {
  padding: 0px 30px 10px;
}

.scrollableContent {
  max-height: 700px;
  overflow: hidden;
}

.optionWrapper {
  padding: 20px 30px;
}

.optionDesc {
  display: flex;
  justify-content: space-between;
}

.optionDesc h5 {
  margin: 0;
  margin: auto 0;
}

.requiredOptionalLabel {
  font-size: 12px;
  text-align: center;
  border: 2px solid #C4CCCF;
  border-radius: 5px;
  padding: 3px 5px;
}

.listOption {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.optionChoices{
  display: flex;
  flex-direction: column;
}

.optionListWrapper label {
  border: 2px solid blue;
}

.addToOrderSection {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
}

.quantity {
  border: 1.5px solid #C4CCCF;
  display: flex;
  justify-content: space-between;
  width: 50px;
  border-radius: 50px;
  margin: auto 0;
  padding: 10px 20px;
  font-weight: 800;
}

.addToOrderBttn {
  background-color: #F25353;
  display: flex;
  justify-content: space-around;
  color: #ffffff;
  width: 250px;
  border-radius: 50px;
  margin: auto 0;
  padding: 12px 20px;
}

input.option[type='radio'] {
  accent-color: #F25353;
  transform: scale(1.2);
  margin-right: 20px;
}

hr.sectionDivider {
  margin: 0 30px;
}


