.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  background-color: white;
  border-radius: var(--modal-border-radius);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 80%;
  z-index: 1000;
  position: relative;
}

.contentWrapper {
  padding: 50px;
  text-align: center;
}

.closeIcon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 30px;
  line-height: 20px;
}

.buttonWrapper {
  padding-top: 20px;
}

.textWrapper h5 {
  margin-bottom: 10px;
}

.buttonWrapper button {
  margin-top: 10px;
  width: 100%;
}

